<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ADMIN_LEKTOR_JELENTKEZES}}</h3>
            <table class="table">
                <tr>
                    <th>{{REGISTER_NAME}}</th>
                    <th>{{REGISTER_EMAIL}}</th>
                    <th>{{LEKTOR_TUD_FOKOZAT}}</th>
                    <th>{{LEKTOR_INTEZET}}</th>
                    <th>{{LEKTOR_SZAKTERULET}}</th>
                    <th>{{LEKTOR_NYELVEK}}</th>
                    <th>{{ADMIN_LEKTOR_JELENTKEZES_ELFOGAD}}</th>
                </tr>
                {{jelentkezok}}
            </table>
        </div>
    </div>
</div>