<div class="container">
    <div class="col-sm-12">
        <h6>{{NEW_ARTICLE}}</h6>
        <form method="post" id="new_artice_post">
            <div class="form-group">
                <label for="cim">{{NEW_ARTICLE_TITLE}}</label>
                <input type="text" class="form-control" id="cim" name="cim" value="{{cim}}"
                       placeholder="{{NEW_ARTICLE_TITLE}}">
            </div>
            <div class="form-group text-center">
                <p>{{message}}</p>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" id="new_article" name="new_article">{{NEW_ARTICLE_SEND}}</button>
            </div>
        </form>
        <textarea name="text" form="new_artice_post"></textarea>
    </div>
</div>